*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Oswald", sans-serif;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  position: fixed;
  width: 100%;
  background-color: white;
  border-bottom: solid 1px #43434320;
  z-index: 10;
}
nav img {
  height: 55px;
}
nav button {
  background-color: transparent;
  border: none;
}
nav button i {
  font-size: 24px;
  cursor: pointer;
  color: #434343;
  transition: 0.5s;
}
nav button i:hover {
  font-size: 26px;
  transform: rotate(-15deg) translateX(5px);
}
header {
  height: 350px;
  background-color: #1f1f1f;
  display: flex;
  justify-content: center;
  align-items: center;
}
header img {
  height: 200px;
  margin-top: 60px;
}
.cart__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 40px;
  background-color: rgb(255, 255, 255);
  position: fixed;
  height: 85%;
  top: 65px;
  width: 40%;
  overflow-y: scroll;
  transition: 0.5s;
  box-shadow: 5px 10px 20px 0px rgba(67, 67, 67, 0.461);
  left: 100%;
}
.nav__cart__visible {
  left: 60%;
}
main h3 {
  margin: 40px;
  font-size: 26px;
  color: #434343;
}
.principal__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin: 60px 40px;
}
.product__container {
  max-width: 300px;
  height: 100%;
  transition: all 0.25s;
  border-radius: 20px;
}
.product__container:hover {
  transform: translateY(-10px);

  background-color: #43434318;
}
.product__container__img img {
  max-width: 290px;
  transition: all 0.5s;
}
.product__container__img img:hover {
  transform: scale(1.05);
}
.product__container__name {
  margin-bottom: 20px;
}
.product__container__name p {
  width: 200px;
  padding-left: 20px;
}
.product__container__price {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
}
.product__container__price p {
  font-size: 20px;
  font-weight: bold;
  padding-right: 20px;
}
.product__container__button {
  padding-left: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.cart__button {
  background-color: #1f1f1f;
  padding: 8px;
  color: white;
  width: 100px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}
.product__details {
  background-color: #274671;
  padding: 8px;
  color: white;
  width: 100px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: 0.5s;
  margin-right: 20px;
}
.cart__button:hover,
.product__details:hover {
  transform: scale(0.9);
  box-shadow: 2px 2px 8px 0px rgba(67, 67, 67, 0.568);
}

.cart__product__image {
  display: flex;
  justify-content: center;
}
.cart__product__image img {
  width: 150px;
  height: 150px;
}
.cart__product__description p:nth-child(1) {
  font-weight: 700;
  margin: 10px 20px;
  color: #434343;
}
.cart__product__description p:nth-child(2) {
  margin: 10px 20px;
  font-weight: 300;
}
.cart__product__description p:nth-child(3) {
  margin: 10px 20px;
  font-weight: 300;
}
.cart__product__button {
  display: flex;
  justify-content: flex-end;
}
.cart__product__button button {
  background-color: #1f1f1f;
  height: 30px;
  width: 80px;
  color: white;
  margin: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}
.cart__product__button button:hover {
  transform: scale(1.1);
}
.cart__block hr {
  border: none;
  height: 1px;
  background-color: #4343435d;
}
.cart__block .empty__button {
  width: 150px;
  background-color: #274671;
  color: white;
  cursor: pointer;
  transition: 0.5s;
  min-height: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 20px;
  transition: 0.5s;
}
.cart__block .empty__button:hover {
  transform: scale(0.9);
  box-shadow: 2px 2px 8px 0px rgba(67, 67, 67, 0.568);
}
.modal__container__element {
  background-color: white;
  width: 80%;
  height: 80%;
  position: fixed;
  top: 15%;
  right: 15%;
  box-shadow: 0px 10px 20px 8px #43434385;
  display: none;
}
.modal__container__element div i {
  display: flex;
  justify-content: flex-end;
  color: #434343;
  font-size: 24px;
  margin: 10px 20px;
  transition: 0.5s;
  cursor: pointer;
}
.modal__container__element div i:hover {
  font-size: 21px;
}
.show__modal {
  display: block;
}
.product__detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}
.product__detail__image img {
  width: 200px;
}
.product__detail__price {
  font-weight: bold;
  font-size: 20px;
}
.product__detail__description {
  margin: 0px 50px;
}
.product__container__description {
  display: none;
}
.characteristics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.8rem;
}
.size {
  display: flex;
  gap: 10px;
  margin: 1.8rem;
  flex-wrap: wrap;
}
.size div {
  border: 1px solid #1f1f1f;
  width: 50px;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 5px 1px #43434385;
}
@media screen and (max-width: 768px) {
  .cart__block {
    width: 70%;
  }
  .nav__cart__visible {
    left: 30%;
  }
  .modal__container__element {
    width: 70%;
  }
  .product__detail {
    font-size: 12px;
  }
  .product__detail img {
    width: 150px;
  }
  .size {
    justify-content: center;
  }
}